<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:qpy="http://questionpy.org/ns/question">
    {# TRANSLATORS: This comment will be shown in the .pot file. #}
    <p>{{ _("This string should be localized!") }}</p>
</div>
