/venv
/.venv
.idea
*.iml
config.ini
__pycache__
/dist
.vscode
.DS_Store

/.mypy_cache
/.pytest_cache
/.ruff_cache

/.coverage
/coverage.xml
/e2e-results

/example.qpy
/questionpy_sdk/resources/minimal_example.zip
/questionpy_sdk/webserver_legacy/question_state_storage/
/questionpy_sdk/webserver/static/
