{% macro create_section(section_name, header, elements, form_data) %}
    {% set absolute_path = [section_name] %}
    <div class="container elements section" id="{{ section_name }}">
        <h3> {{ header }} </h3>
        {{ create_elements(section_name, elements, form_data, absolute_path) }}
    </div>
{% endmacro %}


{% macro create_elements(section_name, element_list, form_data, absolute_path) %}
    {% for element_options in element_list %}
        {% do absolute_path.append(element_options.name) %}
        {% set element_id = absolute_path|join("_") %}
        {% set element_reference = absolute_path|join('][')|replace(']', '', 1) ~ ']' %}
        {% if element_options.kind == "group" %}
            {{ create_group(section_name, element_options, form_data, absolute_path) }}
        {% elif element_options.kind == "repetition" %}
            {{ create_repetition(section_name, element_options, form_data, absolute_path) }}
        {% else %}
            {%  include "elements/" ~ element_options.kind ~ ".html.jinja2" %}
        {% endif %}
        {% do absolute_path.pop() %}
    {% endfor %}
{% endmacro %}


{% macro create_group(section_name, group_element, form_data, absolute_path) %}
    <div class="group" id="gr_{{ absolute_path|join("_") }}" name="{{ absolute_path|join('][')|replace(']', '', 1) ~ ']' }}"
        data-section="{{section_name}}" name="{{ absolute_path|join('][')|replace(']', '', 1) ~ ']' }}"
        {{ {'data-hide_if': group_element.hide_if|tojson|forceescape}|xmlattr if group_element.hide_if}}
        {{ {'data-disable_if': group_element.disable_if|tojson|forceescape}|xmlattr if group_element.disable_if}}
        {{ {'data-absolute_path': absolute_path|tojson|forceescape}|xmlattr }}>
        <h3 class="group-heading">{{ group_element.label }}</h3>
        {{ create_elements(section_name, group_element.elements, form_data, absolute_path) }}
    </div>
{% endmacro %}


{% macro create_repetition(section_name, repetition_element, form_data, absolute_path) %}
    {% set element_id = absolute_path|join("_") %}
    <div class="repetition" id="rep_{{ element_id }}" name="{{ absolute_path|join('][')|replace(']', '', 1) ~ ']' }}"
         data-section="{{section_name}}" >
        {% for n in range(repetition_element.initial_elements) %}
            {% do absolute_path.append(n) %}
            <div class="repetition-content" id="">
                {{ create_elements(section_name, repetition_element.elements, form_data, absolute_path) }}
            </div>
            {% do absolute_path.pop() %}
        {% endfor %}
{#        <div class="repetition-content-copy" style="display: none;" data-initial_elements="{{ repetition_element.initial_elements }}"#}
{#            data-absolute_path="{{ absolute_path }}">#}
{#            {{ create_elements(section_name, repetition_element.elements, form_data, absolute_path) }}#}
{#        </div>#}
        <button class="repetition-button" id="rep_{{ element_id }}_button"
            {{ {'data-repetition_increment': repetition_element.increment|tojson|forceescape}|xmlattr
                if repetition_element.increment}}>
            {{ repetition_element.button_label if repetition_element.button_label else 'Add Element' }}
        </button>
    </div>
{% endmacro %}
