<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="color-scheme" content="light dark">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
