<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:qpy="http://questionpy.org/ns/question">
    <div class="my-custom-class">I have custom styling!</div>
    <input type="hidden" name="hidden_value" id="hiddenInput" />
    <input type="button" id="mybutton" value="click here for a 1.0 score" />
</div>
