{% block element %}
<div class="element {{ element_options.kind }}"
        {{ {'data-hide_if': element_options.hide_if|json_dumps}|xmlattr if element_options.hide_if}}
        {{ {'data-disable_if': element_options.disable_if|json_dumps}|xmlattr if element_options.disable_if}}>
    <div class="info">
        {% block info %}
            <p class="element-label">{{ element_options.label }}</p>
        {% endblock %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}