{% extends "elements/element.html.jinja2" %}
{% block element %}
    <div class="element {{ element_options.kind }}"
        {{ {'data-hide_if': element_options.hide_if|json_dumps}|xmlattr if element_options.hide_if}}
        {{ {'data-disable_if': element_options.disable_if|json_dumps}|xmlattr if element_options.disable_if}}
        style="display: none">
        <div class="info">
            {% block info %}
            {% endblock %}
        </div>
        <div class="content">
            {% for option in element_options.options %}
                <div class="answer-option" id="{{ option.value }}">
                    <span class="answer" id="{{ option.value }}">
                        <input class="answer-checkbox" type="checkbox" value="{{ option.value }}">
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}